.header{
  width: 100%;
  margin-bottom: 50px;
  background-color: #2A77AE; 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
}

.title {
float: left;
  font-size: 3rem;
  color: white;

}

.scoretracker {
  float: right;
  text-align: right;
  font-size: 3rem;
  color: white;
}
